# Python virtual environments
.venv/
.venv
venv/
venv
.env
env/
ENV/

# Pyenv 相关文件
.python-version
.pyenv/
*/.pyenv/
.env
venv/
env/
ENV/
*.log
# Python 编译文件
__pycache__/
*.py[cod]
*$py.class

# 系统文件
.DS_Store
Thumbs.db 

# CSV 文件
*.csv
*.xlsx
**/*.csv
minitor_floder/*.csv
minitor_floder/*.xlsx
minitor_floder/*.log
*.txt